// Variables
$primary-color: #E46D2C;
$secondary-color: #003F87;
$sky-blue: #67B7E1;
$dark-gray: #333333;
$light-gray: #F7F7F7;
$white: #ffffff;
$black: #202020;
$font-size-base: 16px;
$font-family: 'Arial', sans-serif;
$pale-yellow: #fefac3;
$light-pink: #F9DBD7;
$gray-color: #ddd;
$gray-color: #606C80;

$new-course-bg: -webkit-linear-gradient(65deg, rgba(136, 182, 199, 0.6), rgba(210, 212, 209, 0.6) 40%);

