@import '@/styles/utility/variables';

.heading{
  max-width: 500px;
  margin: 50px auto 30px;
  text-align: center;
  h1{
    font-size: 40px;
    font-weight: 900!important;
    @media screen and (max-width: 768px){
    font-size: 35px;
    font-weight: 600;
    }
  }
  p{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 10px;
  ;
  }
}


@media screen and (max-width: 768px){
  .heading{
    p{
      font-size: 15px;
      color: rgba($black, 0.5);
    }
  }
}
 