@import '../../styles/utility/variables';

.banner {
  background: url(https://cdn.ghoorilearning.com/uploads//cms/banner-img-629c4a5b08ea0-62d0082b5b9d2.webp);
  background-size: 400px;
  background-repeat: no-repeat;
background-position: bottom right;
  min-height: 412px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.heroContent {
  width: 100%;
  text-align: left;
  h1{
    font-size: 65px;
    font-weight: 700;
  }
  p{
    color: $dark-gray;
    font-size: 20px;
    line-height: 60px;
    font-weight: 600;
  }
}

.btnContainer{
  display: flex;
  align-items: center;
  gap:20px;
  margin-top: 10px;
  .btn1{
    cursor: pointer;
    background: $primary-color;
    outline:none;
    color: $white;
    text-align: center;
    border: 2px solid $primary-color;
    transition: all 0.2s ease-in-out;
    &:hover{
      background: transparent;
      color: $primary-color;
    }
  }
  .btn2{
    cursor: pointer;
    background: $primary-color;
    outline:none;
    font-weight: 600;
    text-align: center;
    border: 2px solid $primary-color;
    color: $white;
    &:hover{
      background: transparent;
      color: $primary-color;
    }
  }
}



@media screen and (max-width: 768px){
  .sectionArea{
    flex-direction:column;
    .heroContent{
      width:100%;
      h2{font-size: 30px;}
      h1{font-size: 40px; text-align: left}
      p{
        text-align: justify;
        line-height: 40px;
        padding: 10px 0;
      }
      .btnContainer{
        width:100%;
        flex-direction: column;
        .btn1{width:100%}
        .btn2{width:100%}
      }
    }
    .heroImage{
      width: 100%;
      text-align: center;
      img{
        max-width:400px;
      }
    }
  }
}