@import '@/styles/utility/variables';

.card{
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  position: relative;
  z-index: 10;
  padding-bottom: 50px;

    .img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  margin-top: 40px;
}

.tag_list {
  display: flex;
  gap:5px;
  font-size: 12px;
  flex-wrap: wrap;
  list-style-type: none;
  .carousel_tag_items{
    background-color: #FEFAC3;
    padding: 5px 8px;
    border-radius: 10px;
    text-wrap: nowrap;
  }
}



.carouselBtn {
  background-color: $primary-color;
  color: $white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  transform: translateY(-50%);
  z-index: 20;
}

.carouselBtn.leftBtn {
  margin-left: 10px;
}

.carouselBtn.rightBtn {
  margin-right: 10px;
}

.track {
  width: 100%; /* Ensure it spans the container width */
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.carouselBtns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 0;
}

.cardContent{
  padding: 0 5px;
  h2{
    padding-top: 15px;
    font-size: 20px;
    cursor:pointer;
    height: 45px;
    margin-bottom: 28px;
  }
  ul{
    margin-top: 10px;
    .icon{color: $secondary-color;}
    .list{
      display: flex;
      align-items: start;
      font-size: 15px;
      gap:5px;
      color:rgba($black, 0.7);
      font-weight: 500;
      margin-bottom:10px;
      .icon{
        width: 20px;
      }
    }
  }
}
.actionbtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  position: absolute;
  bottom: 0;
  width: 95%;
  margin-top: 10px;
  .btn{
    background: $primary-color;
    border-radius: 10px;
    outline:none;
    border:none;
    padding: 14px;
    width:50%;
    color: $white;
    cursor: pointer;
  }.btn2{
     background: transparent;
     outline:none;
     border:2px solid $black;
     color: $black;
     padding: 10px;
     width:35%;
     font-weight: 600;
     text-wrap: nowrap;
     cursor: pointer;
     border-radius: 10px;
       transition: all 0.3s ease;
       &:hover{
         background-color: $black;
         color: $white;
       }
   }
}

.priceContent{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba($secondary-color, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  .prices{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    del{
      font-weight: 700;
      color: rgba($black, 0.5);
      font-size: 13px;
    }
  span{
    font-weight: 700;
    color: $primary-color;
    font-size: 16px;
  }
    h3{
      font-weight: 700;
      color: $black;
      font-size: 20px;
    }
  }
  .price_earn{
    font-size: 14px;
    color: forestgreen;
  }
}


.remarks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.ratingContent{
  display: flex;
  align-items:center;
  gap: 3px;
  color: $primary-color;
  margin-bottom: 15px;
  .ratingIcon{font-size: 20px}
}
.students{
  display:flex;
  align-items: center;
  gap:4px;
  font-weight: 600;
}
.summary{
  display: -webkit-box;
  --web-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  text-align: justify;
  margin-top:10px;
  font-size: 15px;
  margin-bottom: 20px;
  a{
    color: $primary-color;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
  }
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn{
    padding: 14px 35px;
    color:$black;
    border: 2px solid $black;
  }
}

  .container{
    max-width: 1440px;
    width: 100%;
    padding: 80px 100px;
  }



@media screen and (max-width: 768px) {
  .container{padding:20px 20px}
  .courseContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 30xp;
  }
  .heading {
    flex-direction: column;
    gap: 20px;

    .btn {
      width: 100%;
      border-radius: 10px;
      text-align: center;
    }
  }
}
