@import "../../styles/utility/variables";
.title{
  color: $primary-color;
  text-align: center;
  margin-bottom: 10px;
}
.dialog{
  text-align: center;
  font-weight: 600;
  color: rgba($black, 0.7);
  margin-bottom: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  a{color: $primary-color; text-decoration: none; font-weight: 600}
  .link{color: $secondary-color; text-decoration: none; font-weight: 600; padding-top: 15px;
    span{color: $primary-color; font-weight: 600;}}
  button{
    padding: 15px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
    font-size: 18px;
  }
}
.input{
  padding: 15px 15px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 50px;
  border: none;
  background: rgba($primary-color, 0.07);
  color: rgba($black, 0.7);
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 768px){
  .form{
    width: 100%;
  }
}